.mobileLayout{
    border: 5px solid rgb(226, 226, 226);
    height: 700px;
    width: 400px;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
}

.weekDays{
    display: flex;
    justify-content: space-around;
    width: 100%;
}